.panels .tab-group .layers {
  flex: 1;
  display: flex;
  flex-direction: column;

  > header {
    border-bottom: 1px solid $darkgray;
  }

  > ul {   // layers
    flex: 1;
    overflow-y: auto;

    > .layer {
      display: flex;
      border-bottom: 1px solid $darkgray;
      background: $gray;
      // background: pink;
      .eye,.canvas,.name {
        cursor: pointer;
      }
      .eye {
        padding: 6px;
        border-right: 1px solid $darkgray;
        > div { color: $lightgray; }  // icon
      }
      .canvas {
        min-width: 32px;
        border: 1px dashed #fff;
        // background: rgb(241, 255, 214);
      }
      .name {
        flex: 1;
        display: flex;
        align-items: center;
        padding: 0 0 0 8px;
      }
    }
  }

  > footer {
    display: flex;
    justify-content: center;
    border-top: 1px solid $darkgray;
    > button {  // icons
      @extend %tool-menu-icon;
      width: 24px;
      height: 24px;
      border-radius: 0px;
      i { font-size: 12px; }
      &:hover { border-color: $lightgray; }
    }
  }
}