.panels .tab-group .layers {
  flex: 1;
  display: flex;
  flex-direction: column;

  > header {
    padding: 4px;
    box-sizing: border-box;
    border-bottom: 1px solid $darkgray;
    @extend %center-content;
    > button {
      @include tab-group-content-icon(#ffffff);
      border-radius: 2px;
    }
  }

  > ul {   // layers
    flex: 1;
    overflow-y: auto;

    > .layer {
      display: flex;
      border-bottom: 1px solid $darkgray;
      background: $gray;
      // background: pink;
      cursor: pointer;

      > .eye-wrapper {
        padding: 8px;
        border-right: 1px solid $darkgray;
        > .eye {  // icon
          visibility: visible;
          color: $lightgray; 
        }
      }

      > .name-wrapper {
        flex: 1;
        display: flex;

        .canvas {
          min-width: 32px;
          border: 1px dashed #fff;
          // background: rgb(241, 255, 214);
        }
        .name {
          flex: 1;
          display: flex;
          align-items: center;
          padding: 0 0 0 8px;
          @include user-select(none);
        }
        .lock {  // icon
          align-self: center;
          margin: 0 8px 0 0;
          color: $lightgray; 
        }
      }
    }
  }

  > footer {
    display: flex;
    justify-content: center;
    border-top: 1px solid $darkgray;
    > button {  // icon
      @include tab-group-content-icon(#ffffff);
    }
  }
}