#swatches {
  flex: 1;
  display: flex;
  flex-direction: column;

  .swatch {
    background: lightgray;
    width: 16px;
    height: 16px;
  }

  .recent-swatches-wrapper {
    padding: 4px;
    box-sizing: border-box;
    border-bottom: 1px solid $darkgray;

    .recent-swatches {
      display: flex;
      min-height: 16px;
      padding: 2px;
      box-sizing: border-box;
      background: $darkgray;
      .swatch { margin: 0 1px 0 0 }
      .swatch:last-child { margin: 0 }
    }
  }

  .swatch-list {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    .swatch { margin: 0 1px 1px 0; }
  }
}