.tab-group {
  border-bottom: 2px solid $darkgray;
  font-size: 12px;
  color: #fff;
  background: #ade6d3;
  // background: $darkgray;

  > .container {
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 216px;
    background: $gray;

    > nav {
      display: flex;
      background: $darkgray;
      // background: #d2afff;

      .selected-tab { border-bottom: none; }

      .tabs {
        display: flex;

        li {  // tab
          @include user-select(none);
          padding: 8px 10px;
          white-space: nowrap;
          &:active { background: $themeColor; }
        }
      }

      > div {  // space for other nav content
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        @extend %right-tab;

        .menu {
          @extend %center-content;
          margin: 0 8px;

          > div:first-child {  // menu icon
            @extend %center-content;
          }

          > select {  // overlaps the menu icon
            position: absolute;
            background: none;
            border-color: transparent;
            width: 20px;
            text-indent: 10px;
            text-overflow: '';
            &:hover { border-color: gray; }
            &:active { background: $darkgray; }
          }
        }
      }
    }

    > .content {  // content
      flex: 1;
      display: flex;
      // overflow-x: hidden;
      // overflow-y: auto;
      border-left: 1px solid $darkergray;
      border-bottom: 1px solid $darkergray;
      border-right: 1px solid $darkergray;
      // background: lightblue;
    }
  }

  > .icon-tabs {
    padding: 2px;
    background: $gray;

    > div {
      background: $darkgray;
      height: 4px;
    }
    
    > ul > li {  // icons
      @include tool-menu-icon(#ffffff);
      margin: 4px 0;
    }

    > ul > .selected {  // selected icon
      border-color: $lightgray;
      background: $darkgray;
    }
  }
}