.cursor {
  @include user-select(none);
}

.cursor-default {
  cursor: default;
}

.cursor-move { 
  cursor: url('../assets/images/cursor-move.png'), auto;
}

.cursor-eyedropper { 
  cursor: url('../assets/images/cursor-eyedropper.png') 0 30, auto;
}

.cursor-paint-bucket { 
  cursor: url('../assets/images/cursor-paintBucket.png'), auto;
}

.cursor-pen { 
  cursor: url('../assets/images/cursor-pen.png'), auto;
}

.cursor-zoom-in { 
  cursor: url('../assets/images/cursor-zoomIn.png'), auto;
}

.cursor-zoom-out { 
  cursor: url('../assets/images/cursor-zoomOut.png'), auto;
}

.cursor-hand { 
  cursor: url('../assets/images/cursor-hand.png') 16 16, auto;
}

.cursor-crosshair { 
  cursor: url('../assets/images/cursor-crosshair.png') 20 20, auto;
}