// Tools

.icon-move {
  @include fa-var-icon($fa-var-arrows-alt);
}
.icon-eyedropper {
  @include fa-var-icon($fa-var-eye-dropper);
}
.icon-paint-brush {
  @include fa-var-icon($fa-var-paint-brush);
}
.icon-eraser {
  @include fa-var-icon($fa-var-eraser);
}
.icon-paint-bucket {
  @include fa-var-icon($fa-var-fill-drip);
}
.icon-pen {
  @include fa-var-icon($fa-var-pen-nib);
}
.icon-shape-circle {
  @include fa-var-icon($fa-var-circle)
}
.icon-magnify {
  @include fa-var-icon($fa-var-search);
}
.icon-magnify-minus {
  @include fa-var-icon($fa-var-search-minus);
}
.icon-magnify-plus {
  @include fa-var-icon($fa-var-search-plus);
}
.icon-hand {
  @include fa-var-icon($fa-var-hand-paper);
}
.icon-ellipsis {
  @include fa-var-icon($fa-var-ellipsis-h);
}

.icon-swap {
  @include fa-var-icon($fa-var-sync-alt);
}
.icon-undo {
  @include fa-var-icon($fa-var-undo-alt);
}

// Panel icons

.icon-color {
  @include fa-var-icon($fa-var-palette);
}
.icon-adjust {
  @include fa-var-icon($fa-var-adjust);
}
.icon-swatches {
  @include fa-var-icon($fa-var-swatchbook);
}
.icon-layers {
  @include fa-var-icon($fa-var-clone);
}
.icon-history {
  @include fa-var-icon($fa-var-history);
}
.icon-character {
  @include fa-var-icon($fa-var-font);
}
.icon-paragraph {
  @include fa-var-icon($fa-var-paragraph);
}

// other icons

.icon-times {
  @include fa-var-icon($fa-var-times);
  font-size: 12px;
}

.icon-bars {
  @include fa-var-icon($fa-var-bars);
}

.icon-angle-right {
  @include fa-var-icon($fa-var-angle-right);
  font-size: 12px;
}

.icon-angle-down {
  @include fa-var-icon($fa-var-angle-down);
  font-size: 12px;
}

.icon-angle-double-right {
  @include fa-var-icon($fa-var-angle-double-right);
  font-size: 12px;
}

.icon-angle-double-left {
  @include fa-var-icon($fa-var-angle-double-left);
  font-size: 12px;
}

.icon-eye {
  @include fa-var-icon($fa-var-eye);
  font-size: 12px;
}
.icon-new-layer {
  @include fa-var-icon($fa-var-file);
  font-size: 12px;
}
.icon-trash {
  @include fa-var-icon($fa-var-trash);
  font-size: 12px;
}
.icon-lock {
  @include fa-var-icon($fa-var-lock);
  font-size: 12px;
}
.icon-lock-open {
  @include fa-var-icon($fa-var-lock-open);
  font-size: 12px;
}