// Colors
$lightgray: #d3d3d3 !default;
$gray: #5e5e5e !default;
$darkgray: #444444 !default;
$darkergray: #272727 !default;
// $themeColor: #3ee9be !default;
$themeColor: #1daeb3 !default;
// $themeColor: #297ae4 !default;