#canvas-area {
  // @extend %center-content;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: $darkergray;
  // cursor: none;

  .canvas-wrapper {
    position: relative;
    // display: flex;
    // align-items: flex-start;
    text-align: left;
    // padding: 100px;
    background-image: url('../assets/images/canvas_bkgd_texture.png');
    // background: rgb(158, 160, 255);
  
    > canvas {
      position: absolute;
    }
  }
}