#toolbar {
  font-size: 12px;
  color: #fff;
  border-bottom: 1px solid $darkgray;
  background: $gray;
  @include user-select(none);

  > .items {
    display: flex;

    > .item {
      display: flex;
      align-items: flex-end;

      > .item-name {
        outline: none;
        padding: 6px 10px;
        &:active { background: $themeColor; }
      }

      .content {
        display: none;
        position: absolute;
        z-index: 1;
        border-radius: 0 0 4px 4px;
        padding: 6px 0;
        box-sizing: border-box;
        background: $lightgray;
        color: #000;
        @extend %box-shadow;

        .option { 
          display: flex; 
          text-align: left; }
        .option-name { 
          flex: 1; 
          white-space: nowrap;
          padding: 4px 12px; }
        .arrow { 
          @extend %center-content; 
          padding: 0 6px; }
        .option-content { 
          transform: translate(0, -6px); }
        .content { 
          border-radius: 4px; }

        .option:hover { 
          background: $themeColor; 
          > .option-name { color: #fff; }
          > .arrow { color: #fff; }
          > .option-content > .content { display: block; }
        }
      }
    }

    > .item:hover {
      .item-name { background: $themeColor; }
      .item-content > .content { display: block; }
    }
  }
}