.tool-settings > .settings > .brush {
  .brush-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: none;  // tabIndex
    
    > div:first-child { // radius number and brush image
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 20px;
      margin: 0 10px 0 6px;
      @include user-select(none);

      .img {  // brush image
        width: 15px;
        height: 15px;
        background: #969696;
      }
    }
  }

  > .dropdown-container {  // dropdown content container
    transform: translate(0, 30px);
  }
}